/* Styles for mobile */
@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: rgba(6,6,6,255);
    }
    .navbar {
        display: none;
    }
    .mobile-nav-button-open {
        display: flex;
        background-color: rgba(185, 185, 185, 0.2);
    }
    .mobile-nav-button-open img {
        margin: 2rem;
        float: left;
        border-style: solid;
        border-color: #F6F6F2;
        border-radius: 0.5rem;
    }
    .mobile-nav-button-open a {
        margin-top: 2rem;
        font-size: xx-large;
        color: #F6F6F2;
        float: right;
    }
    .navbar-mobile {
        color: #000;
        display:block;
        justify-content:center;
        align-items: center;
        background: linear-gradient(to bottom, rgba(185, 185, 185, 0.2) 30%, rgba(6,6,6,255) 100%);;
        height: 100%;
        padding: 10px;
        font-size: xx-large;
        color: #388087;
    }
    .navbar-mobile a {
        color: #F6F6F2;
        text-decoration: none;
        margin: 2rem;
    }
    .navbar-mobile .mobile-selectedmenu:hover {
        text-decoration: underline;
        color: rgba(255, 238, 0, 0.9);
        transition: color 0.3s ease;
    }
    .logout:hover {
        color: rgb(255, 0, 0);
        transition: color 0.3s ease;
    }
    section {
        padding: 10px;
        color: rgba(255, 238, 0, 0.9);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    footer {
        background: rgba(185, 185, 185, 0.2);
        color: rgba(255, 238, 0, 0.9);
        padding: 10px;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer a {
        color: #fff;
        text-decoration: none;
        margin: 2rem;
    }
}

/* Styles for non-mobile */
@media (min-width: 769px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: rgba(6,6,6,255);
    }
    .navbar-mobile {
        display: none;
    }
    .mobile-nav-button-open {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to bottom, rgba(185, 185, 185, 0.4) 2%, rgba(185, 185, 185, 0) 100%);
        height: 4rem;
        padding: 10px;
        font-size: large;
        color: #fff;
    }
    .navbar a {
        color: #F6F6F2;
        text-decoration: none;
        margin: 2rem;
    }
    .selectedmenu:hover {
        text-decoration: underline;
        color: rgb(255, 255, 255, 0.9);
        transition: color 0.3s ease;
    }
    .logout:hover {
        color: rgb(255, 0, 0);
        transition: color 0.3s ease;
    }
    section {
        padding: 10px;
        color: rgb(255, 255, 255, 0.3);
        margin-left: 2rem;
        margin-right: 2rem;
    }
    footer {
        background: linear-gradient(to top, rgba(185, 185, 185, 0.2) 1%, rgba(185, 185, 185, 0) 100%);
        color: #fff;
        padding: 10px;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer a {
        color: #F6F6F2;
        text-decoration: none;
        margin: 2rem;
    }
}