/* Styles for mobile */
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #C2EDCE;
        border-radius: 1rem;
        box-shadow: 0px 0px 20px #BADFE7 inset;
      }
      
      .grid-container > div {
        padding: 20px 0;
      }
  
      .grid-container > div > a {
        margin: 1rem;
      }
      
      .headline {
        grid-column: 1 / 5;
        font-size: large;
        text-align: left;
        text-decoration: underline;
        color: #388087;
      }
  }
  
  /* Styles for non-mobile */
  @media (min-width: 769px) {
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
        background-color: #C2EDCE;
        border-radius: 1rem;
        box-shadow: 0px 0px 20px #BADFE7 inset;
      }
      
      .grid-container > div {
        padding: 20px 0;
      }
  
      .grid-container > div > a {
        margin: 1rem;
      }
      
      .headline {
        grid-column: 1 / 5;
        font-size: xx-large;
        text-align: left;
        color: #388087;
      }
  }