<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - {{username}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')}}" id="site-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css')}}" id="dashboard-css">
    <script src="{{ url_for('static', filename='script/dashboard.js') }}"></script>
</head>
<body>
    
    <div class="mobile-nav-button-open">
        <div>
            <img src="{{ url_for('static', filename='images/menu.png') }}" style="width: 2rem; height: 2rem; margin: 2rem;" onclick="toggleMenu()"/>
            <a>Dashboard</a>
        </div>
    </div>

    <nav class='navbar-mobile' id="navbar-mobile">
        <br>
        <div>
            <a class='mobile-selectedmenu' href='tutorials'>Tutorials</a>
            <br><br>
            <a class='mobile-selectedmenu' href='EA1'>EA 1</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 2</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <br><br>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>

    <nav class='navbar'>
        <div>
            <a>Dashboard</a>
        </div>
        <div>
            <a class='selectedmenu' href='tutorials'>Tutorials</a>
            <a class='selectedmenu' href='EA1'>EA 1</a>
            <a style='text-decoration: line-through;'>EA 2</a>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>
    <br>

    <section id="section">
        <div class="grid-container">
            <div class="headline">
                <a>EA 1: Image classification with ml5</a>
            </div>
            <div class="imageside">
                <a>Image overview</a>
                <br><br>
                <a style="font-size: xx-large;">3</a><a>analyzed images</a>
            </div>
            <div class="resultside">
                <a>Result overview</a>
                <br><br>
                <a style="font-size: xx-large;">0.53</a><a>average confidence</a>
            </div>
            <div class="report1">
                <a>Download report</a>
                <br><br>
                <img src="{{ url_for('static', filename='images/pdf.png') }}" class="image"/>
            </div>
          </div>
    </section>

    <section id="section">
        <div class="grid-container-default">
            <div class="headline-default">
                EA 2:
            </div>
            <div class="placeholder">
                coming soon
            </div>
          </div>
    </section>
    <section id="section">
        <div class="grid-container-default">
            <div class="headline-default">
                <a>EA 3:</a>
            </div>
            <div class="placeholder">
                <a>coming soon</a>
            </div>
          </div>
    </section>
    <br>    
    <br><br>
    <footer>
        <a href='imprint'>Imprint</a>
    </footer>
</body>
</html>
