<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EA 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')}}" id="site-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ea1.css')}}" id="ea1-css">
    <script src="{{ url_for('static', filename='script/ea1.js') }}"></script>
    <!--p5-->
    <script src="{{ url_for('static', filename='script/p5.min.js') }}"></script>
    <!--ml5-->
    <script src="https://unpkg.com/ml5@0.6.1/dist/ml5.min.js" type="text/javascript"></script>
</head>
<body>
    <!-- Your body content -->
    <div class="mobile-nav-button-open">
        <div>
            <img src="{{ url_for('static', filename='images/menu.png') }}" style="width: 2rem; height: 2rem; margin: 2rem;" onclick="toggleMenu()"/>
            <a>EA 1</a>
        </div>
    </div>

    <nav class='navbar-mobile' id="navbar-mobile">
        <br>
        <div>
            <a class='mobile-selectedmenu' href='dashboard'>Dashboard</a>
            <br><br>
            <a class='mobile-selectedmenu' href='tutorials'>Tutorials</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 2</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <br><br>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>

    <nav class='navbar'>
        <div>
            <a class='selectedmenu' href='dashboard'>Dashboard</a>
        </div>
        <div>
            <a class='selectedmenu' href='tutorials'>Tutorials</a>
            <a>EA 1</a>
            <a style='text-decoration: line-through;'>EA 2</a>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>

    <br>
    
    <!-- Your body content -->
    <section id="section">
        <div class="grid-container">
            <div class="headline">
                <a>EA 1: Image classification with ml5</a>
            </div>
            <div class="imageside">
                <div class="imageupload_display" style="text-align: center;">
                    <div>
                        <form id="imageUploadForm" action="/EA1upload" method="POST" enctype="multipart/form-data">
                            <input type="file" id="imageInput" name="image" accept="image/*" class="custom-file-input" style="display: none;">
                            <label for="imageInput" id="fileInputLabel">
                                <div class="dragarea">
                                    <br>
                                    <p>Click to Upload or Drag & Drop here (400x400px)</p>
                                    <br>
                                </div>
                            </label>
                            <input type="hidden" name="uploadBy" value="{{ username }}">
                        </form>
                    </div>
                    {% if user_file_name %}
                        <img id="loadedImage" src="{{ url_for('static', filename='uploads/'+ username + '/' + user_file_name) }}" style="margin-bottom: 1rem;">
                    {% endif %}
                    <div id="img" style="display: none;"></div>
                    <script>
                        const imageInput = document.getElementById('imageInput');
                        const fileInputLabel = document.getElementById('fileInputLabel');

                        // Dragover event listener to allow dropping
                        fileInputLabel.addEventListener('dragover', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            fileInputLabel.style.background = '#f1f1f1';
                        });

                        // Dragleave event listener to reset background
                        fileInputLabel.addEventListener('dragleave', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            fileInputLabel.style.background = '#ffffff';
                        });

                        // Drop event listener to handle dropped files
                        fileInputLabel.addEventListener('drop', function(e) {
                            e.preventDefault();
                            e.stopPropagation();
                            fileInputLabel.style.background = '#ffffff';
                            
                            const files = e.dataTransfer.files;
                            imageInput.files = files;

                            // Manually trigger form submission after updating the file input
                            document.getElementById('imageUploadForm').submit();
                        });
                    
                        imageInput.addEventListener('change', function(event) {
                            var files = event.target.files;
                            handleFiles(files);
                        });
                    
                        function handleFiles(files) {
                            var file = files[0]; // Assuming only one file is selected
                            if (file) {
                                var reader = new FileReader();
                                reader.onload = function(e) {
                                    var img = new Image();
                                    img.onload = function() {
                                        if (img.width === 400 && img.height === 400) {
                                            uploadImage(file);
                                            loadedImage.src = e.target.result; // Update the image here
                                        } else {
                                            alert("Please upload an image with dimensions exactly 400x400 pixels.");
                                        }
                                    };
                                    img.src = e.target.result;
                                };
                                reader.readAsDataURL(file);
                            }
                        }
                    
                        function uploadImage(file) {
                            var form = document.getElementById('imageUploadForm');
                            var formData = new FormData(form);
                            formData.append('image', file);
                    
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', form.action, true);
                            xhr.onload = function() {
                                // Handle upload success
                                console.log('Upload successful');
                                location.reload(); // Reload the page after successful upload
                            };
                            xhr.onerror = function() {
                                // Handle upload error
                                console.error('Upload failed');
                            };
                            xhr.send(formData);
                        }
                    </script>
                </div>
            </div>
            <div class="resultside">
                <div class="classify">
                    1. upload your image 
                </div>
                <form action="/EA1storage" method="POST" enctype="multipart/form-data">
                    <div class="results">
                        <a style="text-decoration: underline;">results take a few seconds</a>
                        <br>

                        <input type="hidden" id="label_input" name="SAVE_label">
                        <input type="hidden" id="confidence_input" name="SAVE_confidence">

                        <div id="classification_result" style="margin: 1rem;"></div>
                        
                        <script>
                            let classifier;
                            let img;
                                            
                            function preload() {
                                classifier = ml5.imageClassifier('MobileNet');
                                img = loadImage("{{ url_for('static', filename='uploads/'+ username + '/' + user_file_name) }}");
                            }
                                        
                            function setup() {
                                createCanvas(400, 400);
                                classifier.classify(img, gotResult);
                                let imgElement = createImg(img.src); // Create img element
                                imgElement.parent('img'); // Append img element to 'img' div
                            }
                                            
                            function gotResult(error, results) {
                                if (error) {
                                    console.error(error);
                                }
                                console.log(results);
                                let label = results[0].label;
                                let confidence = nf(results[0].confidence, 0, 2);

                                // Check if the label is "window screen"
                                if (label.toLowerCase() === "window screen") {
                                    label = ""; // Set label to empty string
                                    confidence = ""; // Set confidence to empty string
                                }

                                // Set the label and confidence in hidden input fields
                                document.getElementById('label_input').value = label;
                                document.getElementById('confidence_input').value = confidence;

                                let resultDiv = createDiv(`Label: ${label}<br><br>`); // Create div for label
                                resultDiv.parent('classification_result'); // Append div to 'results' div
                                let confidenceDiv = createDiv(`Confidence: ${confidence}`); // Create div for confidence
                                confidenceDiv.parent('classification_result'); // Append div to 'results' div
                            }
                        </script>
                    </div>
                    <div class="evaluate">
                        2. classified correctly?
                        <br><br>
                        <button type="button" style="color: red;" onclick="setEvaluation('incorrect')">incorrect</button>
                        <button type="button" style="color: green;" onclick="setEvaluation('correct')">correct</button>
                        <input type="hidden" id="evaluationInput" name="evaluation" value="">
                        
                        <script>
                            function setEvaluation(value) {
                                document.getElementById('evaluationInput').value = value;
                                const buttons = document.querySelectorAll('.evaluate button');
                                buttons.forEach(button => {
                                    button.style.color = 'black'; // Reset color of all buttons
                                });
                                const selectedButton = document.querySelector(`.evaluate button[onclick="setEvaluation('${value}')"`);
                                selectedButton.style.color = value === 'correct' ? 'green' : 'red'; // Highlight selected button
                            }
                        
                            document.getElementById('evaluationForm').addEventListener('submit', function (event) {
                                const evaluationValue = document.getElementById('evaluationInput').value;
                                if (!evaluationValue) {
                                    event.preventDefault(); // Prevent form submission if no evaluation is selected
                                    alert('Please select an evaluation (correct/incorrect)');
                                }
                            });
                        </script>
                    </div>
                    <div class="save">
                        3. save image?
                        <br><br>
                        <!--<button type="button" style="color: red;">discard</button>--> 
                        <button type="submit" style="color: green;">save</button> 
                    </div>
                </form>
                <form action="/EA1discard" method="POST" enctype="multipart/form-data">
                    <div class="discard">
                        <button type="submit" style="color: red;">discard</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="section">
        <div class="grid-container-2">
            <div class="headline" style="color: rgb(0, 128, 0, 0.5);">
                <a>example - correct classified images</a>
            </div>
            <div class="correct-resultside">
                <table name="correct_imagedata" method="GET">
                    {% for imagedata in saved_correct %}
                    <tr>
                        <td class="images">
                            <img src="{{ url_for('static', filename=imagedata[4]) }}" alt="Image">
                        </td>
                        <td>
                            <a>Label: {{ imagedata[2] }}</a>
                            <br><br>
                            <a>Confidence: {{ imagedata[1] }}</a>
                            <br><br>
                            <!-- Use data-value to store the confidence value -->
                            <div class="plotly-graph" id="0plotly-graph-{{ loop.index }}" data-value="{{ imagedata[1] }}"></div>
                            <!-- Include the Plotly script for this specific plot -->
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    // Get the value from the data-value attribute of this specific plot
                                    var plotlyGraph = document.getElementById('0plotly-graph-{{ loop.index }}');
                                    var value = plotlyGraph.getAttribute('data-value');
                                    console.log(value);
                                    
                                    // Create trace, layout, and data for Plotly plot
                                    var trace = {
                                        x: [value],
                                        y: ['Image'],
                                        type: 'bar',
                                        orientation: 'h',
                                        text: [(value * 100) + '%'],
                                        marker: { 
                                            color: 'rgba(0, 0, 0, 0.5)',
                                            size: 20,
                                            line: {
                                                width: 2 // Hier wird die Breite des Rands um die Balken festgelegt
                                            }
                                        }
                                    };
                                    
                                    var layout = {
                                        xaxis: { title: 'Confidence', range: [0, 1], dtick: 0.1 },
                                        showlegend: false,
                                        showgrid: true,
                                        plot_bgcolor: 'rgba(0, 0, 0, 0.1)',
                                        paper_bgcolor: 'rgb(0, 0, 0, 0)',
                                        margin: {
                                            l: 80, // Linker Rand
                                            r: 80, // Rechter Rand
                                            b: 50, // Unterer Rand
                                            t: 0, // Oberer Rand
                                            pad: 0 // Innenabstand zwischen Plot-Bereich und Außenrahmen
                                        },
                                        width: 500,
                                        height: 100
                                    };

                                    var data = [trace];
                                    
                                    // Generate the plot for this specific plotly graph
                                    Plotly.newPlot(plotlyGraph, data, layout);
                                });
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="headline" style="color: rgb(255, 0, 0, 0.5);">
                <a>example - incorrect classified images</a>
            </div>
            <div class="correct-resultside">
                <table name="correct_imagedata" method="GET">
                    {% for imagedata in saved_incorrect %}
                    <tr>
                        <td class="images">
                            <img src="{{ url_for('static', filename=imagedata[4]) }}" alt="Image">
                        </td>
                        <td>
                            <a>Label: {{ imagedata[2] }}</a>
                            <br><br>
                            <a>Confidence: {{ imagedata[1] }}</a>
                            <br><br>
                            <!-- Use data-value to store the confidence value -->
                            <div class="plotly-graph" id="1plotly-graph-{{ loop.index }}" data-value="{{ imagedata[1] }}"></div>
                            <!-- Include the Plotly script for this specific plot -->
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    // Get the value from the data-value attribute of this specific plot
                                    var plotlyGraph = document.getElementById('1plotly-graph-{{ loop.index }}');
                                    var value = plotlyGraph.getAttribute('data-value');
                                    console.log(value);
                                    
                                    // Create trace, layout, and data for Plotly plot
                                    var trace = {
                                        x: [value],
                                        y: ['Image'],
                                        type: 'bar',
                                        orientation: 'h',
                                        text: [(value * 100) + '%'],
                                        marker: { 
                                            color: 'rgba(0, 0, 0, 0.5)',
                                            size: 20,
                                            line: {
                                                width: 2 // Hier wird die Breite des Rands um die Balken festgelegt
                                            }
                                        }
                                    };
                                    
                                    var layout = {
                                        xaxis: { title: 'Confidence', range: [0, 1], dtick: 0.1 },
                                        showlegend: false,
                                        showgrid: true,
                                        plot_bgcolor: 'rgba(0, 0, 0, 0.1)',
                                        paper_bgcolor: 'rgb(0, 0, 0, 0)',
                                        margin: {
                                            l: 80, // Linker Rand
                                            r: 80, // Rechter Rand
                                            b: 50, // Unterer Rand
                                            t: 0, // Oberer Rand
                                            pad: 0 // Innenabstand zwischen Plot-Bereich und Außenrahmen
                                        },
                                        width: 500,
                                        height: 100
                                    };
    
                                    var data = [trace];
                                    
                                    // Generate the plot for this specific plotly graph
                                    Plotly.newPlot(plotlyGraph, data, layout);
                                });
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

    <section id="section">
        <div class="grid-container-2">
            <div class="headline">
                <a>your correct classified images</a>
            </div>
            <div class="correct-resultside">
                <table name="correct_imagedata" method="GET">
                    {% for imagedata in saved_correct_Images %}
                    <tr>
                        <td class="images">
                            <img src="{{ url_for('static', filename=imagedata[4]) }}" alt="Image">
                        </td>
                        <td>
                            <a>Label: {{ imagedata[2] }}</a>
                            <br><br>
                            <a>Confidence: {{ imagedata[1] }}</a>
                            <br><br>
                            <!-- Use data-value to store the confidence value -->
                            <div class="plotly-graph" id="plotly-graph-{{ loop.index }}" data-value="{{ imagedata[1] }}"></div>
                            <!-- Include the Plotly script for this specific plot -->
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    // Get the value from the data-value attribute of this specific plot
                                    var plotlyGraph = document.getElementById('plotly-graph-{{ loop.index }}');
                                    var value = plotlyGraph.getAttribute('data-value');
                                    console.log(value);
                                    
                                    // Create trace, layout, and data for Plotly plot
                                    var trace = {
                                        x: [value],
                                        y: ['Image'],
                                        type: 'bar',
                                        orientation: 'h',
                                        text: [(value * 100) + '%'],
                                        marker: { 
                                            color: 'rgba(0, 0, 0, 0.5)',
                                            size: 20,
                                            line: {
                                                width: 2 // Hier wird die Breite des Rands um die Balken festgelegt
                                            }
                                        }
                                    };
                                    
                                    var layout = {
                                        xaxis: { title: 'Confidence', range: [0, 1], dtick: 0.1 },
                                        showlegend: false,
                                        showgrid: true,
                                        plot_bgcolor: 'rgba(0, 0, 0, 0.1)',
                                        paper_bgcolor: 'rgb(0, 0, 0, 0)',
                                        margin: {
                                            l: 80, // Linker Rand
                                            r: 80, // Rechter Rand
                                            b: 50, // Unterer Rand
                                            t: 0, // Oberer Rand
                                            pad: 0 // Innenabstand zwischen Plot-Bereich und Außenrahmen
                                        },
                                        width: 500,
                                        height: 100
                                    };

                                    var data = [trace];
                                    
                                    // Generate the plot for this specific plotly graph
                                    Plotly.newPlot(plotlyGraph, data, layout);
                                });
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>
    
    <!-- Include the Plotly script outside the loop -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    

    <section id="section">
        <div class="grid-container-2">
            <div class="headline">
                <a>your incorrect classified images</a>
            </div>
            <div class="incorrect-resultside">
                <table name="incorrect_imagedata" method="GET">
                    {% for imagedata in saved_incorrect_Images %}
                    <tr>
                        <td class="images">
                            <img src="{{ url_for('static', filename=imagedata[4]) }}" alt="Image">
                        </td>
                        <td>
                            <a>Label: {{ imagedata[2] }}</a>
                            <br><br>
                            <a>Confidence: {{ imagedata[1] }}</a>
                            <br><br>
                            <!-- Use data-value to store the confidence value -->
                            <div class="plotly-graph" id="plotly-graph2-{{ loop.index }}" data-value="{{ imagedata[1] }}"></div>
                            <!-- Include the Plotly script for this specific plot -->
                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    // Get the value from the data-value attribute of this specific plot
                                    var plotlyGraph = document.getElementById('plotly-graph2-{{ loop.index }}');
                                    var value = plotlyGraph.getAttribute('data-value');
                                    console.log(value);
                                    
                                    // Create trace, layout, and data for Plotly plot
                                    var trace = {
                                        x: [value],
                                        y: ['Image'],
                                        type: 'bar',
                                        orientation: 'h',
                                        text: [(value * 100) + '%'],
                                        marker: { 
                                            color: 'rgba(0, 0, 0, 0.5)',
                                            size: 20,
                                            line: {
                                                width: 2 // Hier wird die Breite des Rands um die Balken festgelegt
                                            }
                                        }
                                    };
                                    
                                    var layout = {
                                        xaxis: { title: 'Confidence', range: [0, 1], dtick: 0.1 },
                                        showlegend: false,
                                        showgrid: true,
                                        plot_bgcolor: 'rgba(0, 0, 0, 0.1)',
                                        paper_bgcolor: 'rgb(0, 0, 0, 0)',
                                        margin: {
                                            l: 80, // Linker Rand
                                            r: 80, // Rechter Rand
                                            b: 50, // Unterer Rand
                                            t: 0, // Oberer Rand
                                            pad: 0 // Innenabstand zwischen Plot-Bereich und Außenrahmen
                                        },
                                        width: 500,
                                        height: 100
                                    };

                                    var data = [trace];
                                    
                                    // Generate the plot for this specific plotly graph
                                    Plotly.newPlot(plotlyGraph, data, layout);
                                });
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </table>                 
            </div>
        </div>
    </section>

    {% if evaluator == "evaluator" %}
    <section>
        <div class="grid-container-evaluator">
            <a style="margin-left: 1rem;">This content will only be shown to selected users</a>
            <div class="headline">
                <a>Results</a>
            </div>
            <div>
                <div style="margin-left: 1rem;">
                    <a style="text-decoration: underline;">placeholder:</a><br><br>
                    <a>placeholder:</a><br>
                        <a>placeholder</a><br><br>
                    <a>placeholder:</a><br>
                        <a>placeholder</a><br>
                    <br>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="grid-container-evaluator">
            <a style="margin-left: 1rem;">This content will only be shown to selected users</a>
            <div class="headline">
                <a>Documentation</a>
            </div>
            <div>
                <div style="margin-left: 1rem;">
                    <a style="text-decoration: underline;">Frameworks:</a><br><br>
                    <a>Flask==3.0.3</a><br>
                        <a>Flask is a micro web framework written in Python. It is lightweight and provides tools and libraries to help build web applications.<a href="https://flask.palletsprojects.com/en/3.0.x/">Flask Documentation</a></a><br><br>
                    <a>Jinja2==3.1.3</a><br>
                        <a>Jinja2 is a modern and designer-friendly templating language for Python, used for creating HTML, XML, or other markup formats.<a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja Documentation</a></a><br>
                    <br>
                </div>
                <div style="margin-left: 1rem;">
                    <a style="text-decoration: underline;">Libraries:</a><br><br>
                    <a>blinker==1.7.0</a><br>
                        <a>Blinker provides fast and simple object-to-object and broadcast signaling for Python objects. It is used for event signaling within a Python application.</a><br><br>
                    <a>chardet==5.2.0</a><br>
                        <a>Chardet is a universal character encoding detector for Python. It can automatically detect a wide range of character encodings.</a><br><br>
                    <a>click==8.1.7</a><br>
                        <a>Click is a Python package for creating command-line interfaces. It makes it easy to write simple scripts and complex command-line applications.</a><br><br>
                    <a>colorama==0.4.6</a><br>
                        <a>Colorama is a Python package that makes it easy to work with colors in the terminal. It provides simple cross-platform support for colored terminal text.</a><br><br>
                    <a>importlib_metadata==7.1.0</a><br>
                        <a>Importlib_metadata provides tools for working with Python distributions. It can extract metadata from Python packages and modules.</a><br><br>
                    <a>itsdangerous==2.1.2</a><br>
                        <a>Itsdangerous is a Python library for generating and parsing cryptographically secure tokens. It is commonly used for securely signing data.</a><br><br>
                    <a>MarkupSafe==2.1.5</a><br>
                        <a>MarkupSafe is a library used by Jinja2 to provide Unicode, string, and byte support. It helps ensure secure string handling in templates.</a><br><br>
                    <a>packaging==24.0</a><br>
                        <a>Packaging is a Python library that provides core utilities for Python package management and distribution. It is used for working with Python packages and metadata.</a><br><br>
                    <a>pillow==10.3.0</a><br>
                        <a>Pillow is a Python Imaging Library (PIL), which adds image processing capabilities to your Python interpreter. It is used for opening, manipulating, and saving many different image file formats.</a><br><br>
                    <a>plotly==5.20.0</a><br>
                        <a>Plotly is a Python graphing library that makes interactive, publication-quality graphs online. It is used for creating and sharing interactive, web-based graphs.</a><br><br>
                    <a>reportlab==4.1.0</a><br>
                        <a>ReportLab is a Python library that helps to create PDF documents using the Python programming language. It is widely used for generating dynamic PDFs.</a><br><br>
                    <a>tenacity==8.2.3</a><br>
                        <a>Tenacity is a general-purpose retrying library to simplify the task of adding retry behavior to Python code. It is commonly used to retry operations that may fail intermittently.</a><br><br>
                    <a>Werkzeug==3.0.2</a><br>
                        <a>Werkzeug is a comprehensive WSGI (Web Server Gateway Interface) web application library. It is widely used as a foundation for many Python web frameworks and applications.</a><br><br>
                    <a>zipp==3.18.1</a><br>
                        <a>Zipp is a simple, fast, and safe Python package that provides a way to enumerate directories within a zip archive. It is used for accessing data inside zip archives without needing to extract them.</a><br>
                    <br>
                </div>
                <div style="margin-left: 1rem;">
                    <a style="text-decoration: underline;">Technical specific of this approach:</a><br><br>
                    <a>Interaction:</a><br>
                        <a>placeholder</a><br><br>
                            <a style="margin-left: 2rem;">
                                code:
                            </a><br><br>
                        <a>placeholder</a><br><br>
                    <a>placeholder:</a><br>
                        <a>placeholder</a><br>
                    <br>
                </div>
                <div style="margin-left: 1rem;">
                    <a style="text-decoration: underline;">Sources:</a><br><br>
                    <a>placeholder:</a><br>
                        <a>placeholder</a><br><br>
                    <a>placeholder:</a><br>
                        <a>placeholder</a><br>
                    <br>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section id="section">
        <div class="grid-container">
            <div class="ea1-report" id="clickableDiv" style="cursor: pointer;">
                EA1 Download report
                <br>
                <img src="{{ url_for('static', filename='images/pdf.png') }}" class="image"/>
            </div>
            <script>
                document.getElementById("clickableDiv").addEventListener("click", function() {
                    window.location.href = "{{ url_for('ea1report') }}";
                });
            </script>
          </div>
    </section>
    
    <br>
    <br><br>
    <footer>
        <a href='imprint'>Imprint</a>
    </footer>
</body>
</html>
