<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css')}}" id="site-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorial.css')}}" id="tutorial-css">
    <script src="{{ url_for('static', filename='script/tutorial.js') }}"></script>
</head>
<body>

    <div class="mobile-nav-button-open">
        <div>
            <img src="{{ url_for('static', filename='images/menu.png') }}" style="width: 2rem; height: 2rem; margin: 2rem;" onclick="toggleMenu()"/>
            <a>Tutorials</a>
        </div>
    </div>

    <nav class='navbar-mobile' id="navbar-mobile">
        <br>
        <div>
            <a class='mobile-selectedmenu' href='dashboard'>Dashboard</a>
            <br><br>
            <a class='mobile-selectedmenu' href='EA1'>EA 1</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 2</a>
            <br><br>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <br><br>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>

    <nav class='navbar'>
        <div>
            <a class='selectedmenu' href='dashboard'>Dashboard</a>
        </div>
        <div>
            <a>Tutorials</a>
            <a class='selectedmenu' href='EA1'>EA 1</a>
            <a style='text-decoration: line-through;'>EA 2</a>
            <a style='text-decoration: line-through;'>EA 3</a>
        </div>
        <div>
            <a class='logout' href='logout'>Logout</a>
        </div>
    </nav>

    <section id="section">
        <div class="grid-container">
            <div class="headline">
                <a>EA 1: Image classification with ml5:</a>
            </div>
            <div class="videoDiv">
                <video width="100%" height="auto" controls>
                    <source src="{{ url_for('serve_video', filename='beispiel_EA1.mp4') }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>           
            </div>
            <div class="text">
                <div>
                    <a>1. Select Task 1 from the menu or the corresponding field in the dashboard.</a>
                    <br><br>
                    <a>2. Select an image by clicking the button or drag and drop it into the application.</a>
                    <br><br>
                    <a>3. A few seconds later you will receive your classification results on the right.</a>
                    <br><br>
                    <a>4. Please decide whether the classification was correct or incorrect and save or discard your image.</a>
                    <br><br>
                    <a>5. All saved images can then be downloaded together with the results in an overview.</a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br><br>
    <footer>
        <a href='imprint'>Imprint</a>
    </footer>
</body>
</html>
